.link-txt {
    margin: 5px 0 0;
    font-size: 15px;
    text-decoration: underline;
    cursor:pointer;
}

.amount-txt {
    margin: 5px 0 0;
    font-size: 15px;
    font-weight: bold;
}

.align-set {
    margin-top: 7px;
}

.tooth-chart {
    width: 85%;
    display: block;
    margin: 0 auto;
}

.chk {
    display: none;
}

polygon:active, path:active {
    fill: #dddddd !important;
}
.divdisabled {
    pointer-events: none;
    opacity: 0.3;
}